# Default ignored files
/../../Project_WafiLife./.idea/shelf/
/../../Project_WafiLife./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../Project_WafiLife./.idea/mavenHomeManager.xml
